<section class="info">
<h2 clas>Prueba nuestros diferentes sabores</h2>
<ul>
  <li>Imposible $200</li>
  <li>Limon $150</li>
  <li>Moka 250</li>
  <li>Chocolate 150</li>
  <li>Vainilla 150</li>
</ul>

<h2>Agrega un adorno especial a tu pastel preferido</h2>
<ul>
  <li>Figura personalizada $50</li>
  <li>Velas conmemorativas $40</li>
  <li>Texto personalizado $30</li>
</ul>
</section>

<section class="pedido">
<h1>Realiza tu pedido</h1>
<h2>Escoge tu sabor preferido</h2>
<form action="/accion.js" id="form1" method="post">
    <input type="checkbox" id="topping1" name="topping1" value="Imposible">
    <label for="topping1">Imposible</label><br>
    <input type="checkbox" id="topping2" name="topping2" value="Limon">
    <label for="topping2">Limon</label><br>
    <input type="checkbox" id="topping3" name="topping3" value="Moka">
    <label for="topping3">Moka</label><br>
    <input type="checkbox" id="topping4" name="topping4" value="Chocolate">
    <label for="topping4">Chocolate</label><br>
    <input type="checkbox" id="topping5" name="topping5" value="Vainilla">
    <label for="topping5">Vainilla</label><br>

  <h2>Escoge tu adorno</h2>
    <input type="checkbox" id="topping1" name="topping1" value="Figura">
    <label for="topping1">Figura personalizada</label><br>
    <input type="checkbox" id="topping2" name="topping2" value="Vela">
    <label for="topping2">Velas decorativas</label><br>
    <input type="checkbox" id="topping3" name="topping3" value="Texto">
    <label for="topping3">Texto Personalizado</label><br><br>

    <label for="nombre">Nombre:</label><br>
    <input type="text" id="nombre" name="nombre"><br><br>

    <label for="tel">Teléfono</label><br>
    <input type="tel" id="tel" name="tel" maxlength="10"><br><br>

    <label for="correo">Correo</label><br>
    <input type="email" id="correo" name="correo"><br><br>

    <label for="notas">Notas:</label><br>
    <input type="text" id="notas" name="notas"><br><br>

    <input type="submit" value="Submit">
    <input type="reset">
</form>
</section>
