<h2>Sabores restantes</h2>
<div class="vol">
<label  for="vol">Chocolate (entre 0 y 30 pasteles):</label><br>
    <input type="range" id="vol" name="vol" min="0" max="30"><br>
    <label for="vol">Vainilla (entre 0 y 30 pasteles):</label><br>
    <input type="range" id="vol" name="vol" min="0" max="30"><br>
    <label for="vol">Imposible (entre 0 y 30 pasteles):</label><br>
    <input type="range" id="vol" name="vol" min="0" max="30"><br>
    <label for="vol">Moka (entre 0 y 30 pasteles):</label><br>
    <input type="range" id="vol" name="vol" min="0" max="30"><br>
    <label for="vol">Limon (entre 0 y 30 pasteles):</label><br>
    <input type="range" id="vol" name="vol" min="0" max="30"><br>
</div><br>

<h2>Adornos restantes</h2>
<div class="vol">
  <label  for="vol">Letras personalizadas (entre 0 y 60 letras):</label><br>
      <input type="range" id="vol" name="vol" min="0" max="60"><br>
      <label for="vol">Figuras personalizadas (entre 0 y 20 figuras):</label><br>
      <input type="range" id="vol" name="vol" min="0" max="20"><br>
      <label for="vol">Velas decorativas (entre 0 y 60 velas):</label><br>
      <input type="range" id="vol" name="vol" min="0" max="60"><br>
</div><br>

<table>
  <tr>
    <th>Sabor</th>
    <th>Decoracion</th>
    <th>Nombre</th>
    <th>Telefono</th>
    <th>Correo</th>
    <th>Notas</th>
  </tr>
  <tr>
    <td>chocolate</td>
    <td>figura personalizada</td>
    <td>Alfredo</td>
    <td>5578478796</td>
    <td>huigmail.com</td>
    <td>Figura de palmera</td>
  </tr>
</table>
